In [146]:
import sys
import pandas as pd

from sdv.evaluation.single_table import run_diagnostic, evaluate_quality
from sdv.metadata import Metadata

In [151]:
sdg_list = ["smote", "ctgan", "tabsyn", "ctab-gan-plus", "vae-bgm", "tvae-all", "tvae-top-2"]
dataset_list = ["adult", "yeast", "cc-fraud-1", "cc-fraud-5"]

for sdg in sdg_list:
    for dataset in dataset_list:
        # no data for yeast with ctab-gan-plus model        
        if (sdg == "ctab-gan-plus") & (dataset == "yeast"):
            continue

        #print(sdg, dataset)
        # read dataset
        syn_path = f"../data/synthetic/{dataset}/{sdg}.csv"
        if dataset in ["cc-fraud-1", "cc-fraud-5"]:
            real_path = f"../data/processed/cc-fraud/train_min.csv"
        else:
            real_path = f"../data/processed/{dataset}/train_min.csv"

        df_syn = pd.read_csv(syn_path)
        df_real = pd.read_csv(real_path)

        # filter df_syn for minority column
        if dataset == "adult": 
            minority_class = ">50K"
            target = "income"
        if dataset == "yeast": 
            minority_class =  "ME2"
            target = "localization.site"
        if dataset in ["cc-fraud-1", "cc-fraud-5"]:
            minority_class= "fraud"
            target = "Class"

        df_syn = df_syn[df_syn[target] == minority_class]
         
        # get categorical columns
        categorical_columns = df_real.select_dtypes(include=['object', 'category']).columns

        # get numerical columns
        numerical_columns = df_real.select_dtypes(include=['number']).columns.to_list()

        # no education.num column for vae-bgm model
        if (sdg == "vae-bgm") and (dataset == "adult"):
            numerical_columns.remove("education.num")


        # Identify rows with mismatched categorical or numerical value 
        mismatched_rows = pd.DataFrame()

        # loop through categorical columns and check for additional categories in synthetic data
        for column in categorical_columns:
            original_values = set(df_real[column].unique())
            
            mismatched = df_syn[~df_syn[column].isin(original_values)]
            mismatched_rows = pd.concat([mismatched_rows, mismatched])


        for col in numerical_columns:
            min_val = df_real[col].min()
            max_val = df_real[col].max()
            
            mismatched = df_syn[
                (df_syn[col] < min_val) | (df_syn[col] > max_val)
            ]
            mismatched_rows = pd.concat([mismatched_rows, mismatched])
        
        # Remove duplicate rows
        mismatched_rows = mismatched_rows.drop_duplicates()
        num_mismatches = len(mismatched_rows)

        if num_mismatches != 0:
            invalid_ratio = num_mismatches * 100 / len(df_syn)
            print(f"{sdg} {dataset}: {num_mismatches} from {len(df_syn)} generated data | {round(invalid_ratio, 2)}")
        else:
            print(f"{sdg} {dataset}: {num_mismatches} from {len(df_syn)} generated data")
        #print(mismatched_rows)

smote adult: 0 from 16879 generated data
smote yeast: 0 from 329 generated data
smote cc-fraud-1: 0 from 38612 generated data
smote cc-fraud-5: 0 from 7092 generated data
ctgan adult: 0 from 16879 generated data
ctgan yeast: 0 from 329 generated data
ctgan cc-fraud-1: 0 from 38612 generated data
ctgan cc-fraud-5: 0 from 7092 generated data
tabsyn adult: 22 from 16819 generated data | 0.13
tabsyn yeast: 61 from 345 generated data | 17.68
tabsyn cc-fraud-1: 1211 from 36762 generated data | 3.29
tabsyn cc-fraud-5: 208 from 6758 generated data | 3.08
ctab-gan-plus adult: 40 from 17170 generated data | 0.23
ctab-gan-plus cc-fraud-1: 2590 from 43353 generated data | 5.97
ctab-gan-plus cc-fraud-5: 470 from 8079 generated data | 5.82
vae-bgm adult: 10318 from 17244 generated data | 59.84
vae-bgm yeast: 57 from 314 generated data | 18.15
vae-bgm cc-fraud-1: 1094 from 46397 generated data | 2.36
vae-bgm cc-fraud-5: 1539 from 8238 generated data | 18.68
tvae-all adult: 2996 from 16879 generated data | 17.75
tvae-all yeast: 140 from 329 generated data | 42.55
tvae-all cc-fraud-1: 4989 from 38612 generated data | 12.92
tvae-all cc-fraud-5: 1296 from 7092 generated data | 18.27
tvae-top-2 adult: 0 from 16879 generated data
tvae-top-2 yeast: 21 from 329 generated data | 6.38
tvae-top-2 cc-fraud-1: 9053 from 38612 generated data | 23.45
tvae-top-2 cc-fraud-5: 3319 from 7029 generated data | 47.22

## Check individual models and datasets

In [79]:
SDG = "tabsyn" 
DATASET = "adult"

df_real = pd.read_csv(f"../data/processed/{DATASET}/train_min.csv")
df_syn = pd.read_csv(f"../data/synthetic/{DATASET}/{SDG}.csv")

In [80]:

metadata = Metadata.detect_from_dataframe(data=df_real, table_name=DATASET)
# create diagnostic and quality report from sdv
diagnostic_report = run_diagnostic(
    real_data=df_real, synthetic_data=df_syn, metadata=metadata, verbose=True
)

Generating report ...

(1/2) Evaluating Data Validity: |██████████| 15/15 [00:00<00:00, 441.35it/s]|
Data Validity Score: 96.55%

(2/2) Evaluating Data Structure: |██████████| 1/1 [00:00<00:00, 545.57it/s]|
Data Structure Score: 100.0%

Overall Score (Average): 98.27%

In [136]:
def invalid_values(sdg, dataset):

    syn_path = f"../data/synthetic/{dataset}/{sdg}.csv"
    if dataset in ["cc-fraud-1", "cc-fraud-5"]:
        real_path = f"../data/processed/cc-fraud/train_min.csv"
    else:
        real_path = f"../data/processed/{dataset}/train_min.csv"

    df_syn = pd.read_csv(syn_path)
    df_real = pd.read_csv(real_path)



    # filter df_syn for minority column
    if dataset == "adult": 
        minority_class = ">50K"
        target = "income"
    if dataset == "yeast": 
        minority_class =  "ME2"
        target = "localization.site"
    if dataset in ["cc-fraud-1", "cc-fraud-5"]:
        minority_class= "fraud"
        target = "Class"


    df_syn = df_syn[df_syn[target] == minority_class]

    # get categorical columns
    categorical_columns = df_real.select_dtypes(include=['object', 'category']).columns
    # get numerical columns
    numerical_columns = df_real.select_dtypes(include=['number']).columns.to_list()
    if sdg == "vae-bgm" and dataset == "adult":
        numerical_columns.remove("education.num")

    for column in categorical_columns:
        original_values = set(df_real[column].unique())
        synthetic_values = set(df_syn[column].unique())
        
        # Werte, die nur im synthetischen Datensatz vorkommen
        new_values = synthetic_values - original_values            
        if new_values:
            print(f"In Spalte '{column}' gibt es folgende neue Werte im synthetischen Datensatz: {new_values}")
        else:
            print(f"Keine neuen Werte in Spalte '{column}'")

    for col in numerical_columns:
        min_val = df_real[col].min()
        max_val = df_real[col].max()
        
        # Werte außerhalb des Min-Max-Bereichs im synthetischen Datensatz
        out_of_range = df_syn[
            (df_syn[col] < min_val) | (df_syn[col] > max_val)
        ][col]
        
        if not out_of_range.empty:
            print(f"In Spalte '{col}' gibt es folgende Werte außerhalb des Min-Max-Bereichs ({min_val}, {max_val}): {len(out_of_range.tolist())}")
            print(out_of_range.tolist())
        else:
            print(f"Alle Werte in Spalte '{col}' liegen im Min-Max-Bereich.")
    
    print(f"Amount synthetic data: {len(df_syn)}")

In [145]:
invalid_values("tabsyn", "cc-fraud-1")

Keine neuen Werte in Spalte 'Class'
In Spalte 'V1' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-30.552380043581, 2.13238602134104): 25
[2.1428978, 2.1825771, 2.2955782, 2.2625062, 2.1658733, 2.216045, 2.2171648, 2.243649, 2.2535584, 2.2558942, 2.2017796, 2.2566469, 2.1744096, 2.2993112, 2.264163, 2.229014, 2.1935012, 2.319629, 2.1559467, 2.1548102, 2.196531, 2.1785328, 2.191529, 2.1326075, 2.2036765]
Alle Werte in Spalte 'V2' liegen im Min-Max-Bereich.
In Spalte 'V3' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-31.1036848245812, 2.25020963478583): 39
[2.3513207, 2.9592009, 2.8882103, 2.3742452, 2.6884816, 2.593805, 2.9256122, 2.3448648, 2.8834937, 2.5743427, 2.826286, 2.41137, 2.628173, 3.0667958, 2.3721397, 2.8026743, 2.4944565, 2.5475204, 2.7773263, 2.5754876, 2.748709, 2.6293192, 2.873497, 2.5154173, 2.7687445, 2.421261, 2.276785, 2.6143773, 2.7304811, 2.2632518, 2.4913046, 2.9618025, 2.296538, 2.3330657, 2.8881545, 3.0181773, 2.4455729, 2.981502, 2.5103228]
In Spalte 'V4' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-1.31327481447103, 12.1146718424589): 46
[-1.3266577, -1.588502, -1.535831, -2.4090953, -1.8520085, -1.7255222, -1.7595422, -2.5758507, -1.4477173, -1.6393353, -1.6018323, -1.5095868, -3.0260034, -2.3413546, -1.5504879, -2.0849335, -1.6181434, -1.8293264, -2.7572296, -1.3677925, -1.8443211, -1.4180608, -1.3545021, -1.5991234, -1.3513937, -1.3361224, -1.4034048, -1.7717328, -1.6860067, -1.4509981, -1.3815725, -1.9225497, -1.731721, -2.1919315, -1.5735985, -1.811004, -1.7103249, -1.7183945, -1.6631758, -1.7185055, -1.7439773, -1.5387344, -1.6883217, -2.6240504, -1.7344366, -1.3383398]
Alle Werte in Spalte 'V5' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V6' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V7' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V8' liegen im Min-Max-Bereich.
In Spalte 'V9' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-13.4340663182301, 3.3535248599039): 26
[3.833585, 4.0076795, 3.8758826, 3.5675452, 3.499696, 4.7296295, 3.637137, 3.6757011, 4.531659, 4.1697135, 4.558263, 3.3822217, 4.237953, 3.4734805, 4.121903, 3.5277622, 3.9369352, 3.752814, 4.1493983, 4.8952646, 4.52553, 3.965769, 4.0151424, 4.062531, 3.762423, 4.204909]
In Spalte 'V10' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-24.5882624372475, 4.03143505114991): 41
[8.190358, 5.1228666, 4.81551, 6.9428296, 7.7530775, 4.7457156, 4.777821, 4.4234757, 8.716019, 7.8095565, 5.3972144, 8.896551, 4.647491, 8.457016, 7.297161, 6.025232, 8.6342945, 4.8146787, 4.7413754, 4.6817484, 8.90135, 7.97251, 6.3091125, 8.493192, 8.510544, 6.213944, 6.6593995, 7.1301126, 5.8390956, 4.3779774, 6.6268325, 5.4758325, 8.255734, 5.8372684, 8.771318, 6.237142, 6.415555, 6.184805, 6.1864686, 6.2228026, 6.686286]
In Spalte 'V11' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-1.70222840135659, 12.0189131816199): 6
[-1.9318027, -1.8999318, -1.8132148, -1.7736937, -2.0123525, -1.7436525]
In Spalte 'V12' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-18.6837146333443, 1.37594135044076): 23
[1.7437776, 1.4896094, 1.7805206, 1.7328924, 1.5843015, 1.8073921, 1.7968206, 1.632126, 1.6381707, 1.6904838, 1.7810303, 1.632483, 1.713105, 1.7299496, 1.5283508, 1.3759549, 1.4810925, 1.5395489, 1.441518, 1.7557169, 1.5481547, 1.4740013, 1.7299649]
In Spalte 'V13' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-3.12779501198771, 2.81543981456255): 323
[-3.1766639, 2.98915, -3.170387, 2.9197974, 3.0939822, -3.1379225, -3.1876004, -3.1803396, -3.2298546, -3.1745024, 3.0875278, 3.07945, 2.998358, 3.0156286, -3.2769127, 2.8397346, 3.0183623, 2.862207, -3.1880827, 2.8604445, -3.2327578, 2.8725922, -3.1583157, 2.9218106, -3.2853954, 2.9742541, 3.0312455, 2.9375606, 2.8703127, -3.2919688, 2.8160715, -3.2723722, -3.1885884, -3.2901978, -3.1783063, 2.9760506, -3.285892, -3.1463542, 2.9445984, 2.8392463, -3.270697, 2.9911387, 3.0026195, -3.2742722, -3.2244935, -3.2701938, 3.0879462, 3.0764878, 3.0407393, -3.2017167, 3.0697377, 2.9094975, -3.1816885, 2.8452647, -3.153682, 2.8776588, 2.9362173, 3.010039, 3.0527294, -3.29914, 2.930019, 2.8189402, 3.010508, -3.2538803, -3.2831585, 2.957073, -3.1786327, -3.2365468, 2.9324424, 2.922458, -3.2780828, 2.9731493, -3.1740584, -3.170462, -3.2997398, 2.8882356, 2.9453473, 3.0744271, 2.8613336, -3.1720757, 2.8801467, -3.2030435, 2.8560216, 2.8328812, -3.2231164, -3.226712, 2.998844, 3.0484674, -3.1369746, -3.2627065, 2.8712993, 3.023655, 2.874738, 3.05318, 2.960762, 2.9811857, -3.2815485, -3.1352644, 2.922195, -3.141779, 2.9492683, 2.9703214, 3.0259144, 2.9022598, -3.2798162, 2.9642813, -3.1570199, 3.0788276, -3.1636887, 2.8255, 2.9668179, 2.9801323, -3.2966156, 2.8241088, 3.030954, 3.0105386, -3.1447923, 3.0041392, 2.8615625, 2.868425, 3.0228767, -3.2626693, 2.9178903, -3.1534026, 2.958068, 3.0481794, -3.2230043, 3.0668976, 3.0523047, 3.0512414, -3.194848, -3.1376057, -3.2748694, -3.1281416, 2.9271317, 3.0531166, 3.0939574, -3.1407096, 3.0169907, -3.132709, -3.136377, -3.2342954, -3.1619432, 2.9778433, 3.0369616, 3.004133, 3.0663905, -3.2436318, 2.9589348, -3.1889937, -3.1463223, 3.0327737, -3.2264106, -3.290253, 3.029942, 3.065813, 2.8341315, 2.9909678, 2.9331565, 3.0913727, -3.153248, 3.0158732, 3.09159, 2.8694215, 3.0414371, -3.2212622, 2.8521686, -3.2455757, -3.1841614, 3.0909185, 3.0338619, 3.047439, 2.832731, 2.9434285, -3.16934, 2.8853855, -3.2583852, -3.1929047, 2.9392781, 2.8469718, -3.1928713, 3.0125382, 3.0688732, 3.0893073, 2.9521399, -3.289307, -3.1368055, -3.1457138, 3.064636, -3.244405, 2.8356738, 2.8488736, -3.1329625, 3.0547192, 3.0355415, 2.8375306, -3.2157807, -3.1774716, -3.203639, -3.2427065, 2.9191823, -3.203021, 2.8981974, -3.1899223, -3.1777356, 2.926198, -3.266591, -3.2826571, 3.0853631, 2.9732096, 2.9708185, -3.2514315, 3.0703447, -3.2528827, -3.1602578, 2.961671, -3.1626418, -3.170082, -3.178245, -3.1417391, 2.9426577, -3.22381, 3.0142684, 2.9708278, 3.070554, -3.2585018, 3.0874639, -3.1477468, 2.9029956, 2.935969, -3.238599, -3.2517266, -3.1533074, 2.938299, 2.9853237, 2.9259648, 2.87407, 3.0082173, 2.8232853, 3.0691504, -3.2168798, 3.067337, -3.2384405, 3.0938585, 2.9100542, -3.2822292, -3.293467, 2.9639547, 3.078672, -3.1366432, -3.1843488, 3.0137994, 3.029349, 2.8613083, 3.0905507, -3.1308079, 2.9933162, 2.9864519, 2.9493845, -3.1289449, 2.9950206, 3.0799735, -3.1906824, -3.2875402, -3.3003657, 2.8881264, 2.9030552, 2.8710227, 3.0157483, 2.8843715, 2.9448164, -3.2606099, 2.8701942, 2.9804251, 3.0699823, 2.9545915, 2.985971, 2.982647, -3.2321336, 3.0450394, -3.2433028, 2.963752, 2.9468668, 3.0482273, -3.1488566, -3.1302795, 3.0470386, 2.9273174, -3.1484625, 3.0004284, 2.8442798, 2.95503, 2.8536034, 3.08587, 3.0761228, -3.1711254, 2.9799554, -3.1865566, -3.2213848, -3.2769778, 3.0344346, 3.0889328, 2.970774, 3.0844474, 2.8975484, -3.228581, 2.9283414, -3.2651603, -3.1970215, 2.929577, -3.143943, 2.876822, 3.015412, 3.0505211, 3.0115013, 2.9119415, -3.139079, -3.3006442, 2.843248, -3.236692, 3.0438237, -3.1441154, -3.192934]
Alle Werte in Spalte 'V14' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V15' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V16' liegen im Min-Max-Bereich.
In Spalte 'V17' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-25.1627993693248, 6.73938438478335): 1
[-25.1628]
Alle Werte in Spalte 'V18' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V19' liegen im Min-Max-Bereich.
In Spalte 'V20' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-4.12818582871798, 11.0590042933942): 478
[-4.137312, -5.0903234, -5.3839893, -4.5021076, -5.1453166, -4.5033445, -4.7730927, -5.596894, -5.523101, -4.753867, -5.1758137, -4.650392, -5.01087, -4.3499966, -5.3825808, -4.2764835, -5.067384, -5.085395, -5.540723, -4.760848, -5.6072855, -4.4495997, -4.608143, -5.072619, -5.4083986, -4.43823, -5.4886355, -4.551928, -5.2336125, -4.348667, -4.7641044, -5.1003013, -4.6175227, -4.3474503, -4.187145, -5.357779, -4.6842237, -4.9819436, -5.4014854, -5.1614637, -4.3966293, -5.1202016, -4.9128947, -4.5611405, -4.303818, -4.38462, -4.964868, -4.617964, -5.610106, -4.1722217, -4.2211533, -4.1508718, -5.208587, -4.1561074, -4.9461403, -5.095612, -5.254589, -4.975346, -4.554222, -4.4472537, -4.7397375, -5.1955047, -5.244499, -4.237535, -5.3296204, -5.071063, -5.2347355, -5.0011463, -5.037437, -4.522595, -5.6796618, -5.0460715, -4.9201407, -5.004538, -5.6770554, -5.257086, -5.470465, -5.678579, -4.947264, -5.443643, -5.451385, -5.0001388, -5.0739493, -4.4894466, -4.5957236, -4.544535, -4.2474732, -4.7719646, -4.39336, -4.1345687, -4.452688, -5.323607, -5.567428, -4.819226, -5.0923657, -4.536549, -4.569637, -5.572582, -4.732691, -4.850798, -4.747319, -4.2837114, -4.7644353, -4.7336373, -4.738439, -5.2580857, -4.403414, -5.299721, -4.536359, -4.514723, -4.5522604, -5.0295362, -5.597283, -5.1198826, -4.5250688, -5.366644, -4.9979496, -4.6033826, -5.3176904, -4.7581987, -5.231253, -4.35365, -4.280145, -4.6611953, -4.9263005, -4.173936, -4.823101, -5.41026, -5.148964, -4.691133, -4.9229913, -5.051773, -5.6159353, -4.4049864, -4.658748, -5.3917546, -5.643381, -4.1994934, -5.251809, -5.013107, -5.3450017, -4.758671, -4.956889, -4.7546477, -5.4647875, -4.60207, -4.789555, -5.3180776, -5.078231, -4.1417327, -4.843734, -5.0840106, -4.776828, -5.6012044, -4.163081, -4.5650573, -5.479376, -4.4605637, -5.3493032, -4.6266985, -5.084536, -5.3614125, -4.1421485, -5.5111227, -4.250034, -5.242498, -4.6615963, -4.546532, -4.653098, -4.5240703, -4.5428343, -4.129768, -4.7671556, -4.184662, -5.1623764, -5.046933, -4.2249126, -5.410122, -4.6775265, -4.4185996, -4.475285, -4.9307, -5.538321, -5.1328816, -4.970026, -4.8555155, -5.2889194, -4.4092364, -5.4055376, -4.3650384, -5.1384616, -5.0279703, -4.247805, -5.469898, -5.4304137, -4.786734, -5.0822105, -4.848031, -5.0186586, -5.60978, -4.565717, -4.684625, -5.3824487, -4.47646, -4.680549, -4.8499837, -5.3247156, -4.8267555, -5.3003144, -5.3352056, -4.8907275, -5.0440536, -4.900493, -5.3702626, -5.3408947, -4.3973813, -5.31354, -4.8022666, -5.252782, -4.7650256, -4.85729, -4.597447, -4.5352526, -4.9545007, -5.059499, -5.271372, -4.9964843, -4.6161075, -5.618405, -4.4467716, -5.098638, -4.18692, -5.574472, -4.696542, -4.8305387, -5.6576204, -5.111364, -5.44423, -4.2961164, -5.1945977, -5.227097, -5.1242056, -4.957166, -5.678584, -5.270278, -5.631825, -5.6179466, -4.357282, -4.4647207, -5.5142775, -4.6268315, -4.770048, -4.703578, -4.7525983, -4.8346395, -4.3090677, -4.238964, -4.554531, -5.644293, -4.9072504, -4.9062943, -4.4383616, -5.5003057, -4.740324, -4.8323984, -4.240048, -4.409082, -5.4575167, -4.3894353, -4.346526, -4.744769, -4.257931, -4.3488607, -5.401778, -5.540003, -4.8029294, -4.769827, -5.117945, -4.415767, -5.327023, -5.4787455, -4.4577475, -4.848946, -4.670142, -5.0851474, -4.6650124, -4.948026, -4.310281, -4.2759686, -4.1481524, -5.0433707, -4.238068, -5.289962, -4.5478516, -5.5964746, -4.6635833, -4.2383285, -5.4807706, -4.255875, -5.436448, -5.28053, -4.388718, -4.7066045, -4.958672, -4.914231, -5.113482, -4.3828225, -5.2903004, -4.1737623, -4.3764453, -4.2631965, -4.838546, -4.6722956, -4.189099, -4.643049, -4.5108676, -5.154654, -4.1840005, -5.384587, -5.274579, -4.9249263, -4.610073, -4.8862724, -4.6449065, -4.9309826, -5.3252435, -5.2877493, -4.413467, -5.0031595, -5.34543, -4.2495556, -4.911431, -5.5814214, -4.9612465, -5.11535, -5.646147, -4.5635166, -5.111351, -4.69108, -4.9617324, -4.837874, -4.717705, -4.742945, -4.5765815, -5.676473, -4.961885, -4.171129, -5.1634245, -4.979273, -4.652684, -4.759995, -5.645313, -4.475037, -4.5112977, -4.912034, -4.651061, -5.6360216, -5.423413, -5.3781953, -4.7580104, -5.264191, -5.2397594, -5.242609, -5.0609527, -5.541662, -4.2681375, -5.2699804, -4.567509, -4.296531, -4.5086823, -5.1408167, -5.5427036, -5.6634135, -5.2854285, -4.223966, -5.1575184, -4.700014, -4.4495354, -4.9852605, -5.0653067, -5.331306, -4.3588824, -4.8641596, -5.050465, -5.631983, -4.910482, -5.373364, -5.131693, -5.289141, -4.6033883, -5.315738, -4.8655744, -4.480444, -5.3985963, -4.4188724, -5.126379, -5.002321, -5.533916, -4.903169, -5.676303, -4.767619, -5.117499, -5.0519986, -5.548136, -4.4113827, -4.789727, -4.620466, -4.84922, -4.78085, -5.422943, -4.403174, -5.119614, -4.500007, -5.2513976, -5.355929, -4.187068, -4.543048, -5.3012223, -5.3074794, -4.862816, -5.1783276, -5.1860642, -5.5615096, -5.4471583, -5.4983625, -4.7151527, -5.530768, -5.1464467, -5.2113523, -5.5061736, -4.647974, -5.2980337, -5.583026, -4.960081, -4.861537, -4.4961452, -4.254623, -4.432539, -4.4917874, -4.139646, -4.604731, -5.110313, -4.2736964, -4.379114, -5.0353403, -4.304318, -4.320188, -5.0004683, -4.9726496, -4.460214, -4.1303115, -4.2658615, -4.784023, -5.149755, -4.393069, -5.027531, -4.420297, -4.1469007, -4.8236265, -5.2463264, -5.015619, -4.1620193, -4.7007194, -5.045911, -5.0619698, -5.1929345, -5.466364, -5.3903723, -4.738849, -5.316676, -5.429053, -5.4873056, -4.137513, -4.4703197, -5.606445, -5.22878, -4.555224, -4.9387007]
Alle Werte in Spalte 'V21' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V22' liegen im Min-Max-Bereich.
In Spalte 'V23' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-19.2543276173719, 5.46622995370963): 158
[5.802406, 5.4789267, 5.558414, 5.5624633, 5.89617, 5.899201, 5.617666, 5.704606, 5.4953523, 5.7689967, 5.633419, 5.856007, 5.863719, 5.533868, 5.8943243, 5.7072554, 5.5342054, 5.7798495, 5.8149924, 5.7898407, 5.597478, 5.6613693, 5.620103, 5.6870027, 5.655892, 5.6703353, 5.8925123, 5.7732434, 5.987579, 5.903857, 5.946032, 5.8935905, 5.734705, 5.940968, 5.7811403, 5.5501714, 5.5861874, 5.8680077, 5.594724, 5.707035, 5.7301044, 5.902501, 5.8995547, 5.5767293, 5.8562417, 5.837488, 5.8852406, 5.783058, 5.817334, 5.9355865, 6.001937, 5.6178393, 5.887647, 5.7827106, 5.7951903, 5.965723, 5.5119247, 5.4916396, 5.5596704, 5.6876507, 5.5474286, 5.6598225, 5.7240705, 5.598684, 5.6755443, 5.7096725, 5.585862, 5.917194, 5.557671, 5.622522, 5.473432, 5.877579, 5.821867, 5.897737, 5.5184646, 5.5397844, 5.6752567, 5.5622244, 5.6847577, 5.5977035, 5.6245475, 5.6757326, 5.88442, 5.494686, 5.781192, 5.673072, 5.467436, 5.99937, 5.5060196, 5.5813394, 5.746535, 5.72303, 5.824221, 5.7373457, 5.4804606, 5.660545, 5.5688844, 5.8896666, 5.5495176, 5.867664, 5.641987, 5.7514534, 5.4877143, 5.803926, 5.4667487, 5.5353603, 5.7036934, 5.7341843, 5.4964747, 5.721637, 5.954235, 5.472465, 5.4901824, 5.8980813, 5.7978406, 5.6642275, 5.748831, 5.9269996, 5.497732, 5.505341, 5.771654, 5.6795774, 6.005905, 5.82318, 5.683914, 5.7293963, 5.659771, 5.7467766, 5.893952, 5.6132145, 5.728628, 5.7989902, 5.536618, 5.8052464, 5.7391286, 5.5239606, 5.8083105, 5.482414, 5.858508, 5.955673, 5.5413475, 5.7074575, 5.704686, 5.6252203, 5.6443663, 5.6351805, 5.844297, 5.9288526, 5.577889, 5.560086, 5.52469, 5.8176394, 5.604602, 5.9116464, 5.5803723, 5.6799407, 5.768673, 5.752271]
In Spalte 'V24' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-2.02802422921896, 1.09143473162108): 86
[-2.0395398, -2.0839312, -2.231918, 1.0934573, -2.212138, -2.1026196, -2.2415044, -2.5251644, 1.1293334, -2.5861776, -2.534604, -2.6899092, -2.336373, 1.1039104, -2.1382284, -2.7106264, 1.162942, -2.0617192, -2.3499174, -2.0463579, -2.1557252, -2.2470725, -2.2070787, -2.53169, -2.29401, -2.1177487, -2.5342531, -2.0683815, -2.164077, -2.032968, -2.2231457, -2.4535284, -2.2685702, -2.2585292, -2.0307832, 1.1702517, -2.269155, 1.1031065, -2.0777466, 1.1068232, -2.6056287, 1.136398, -2.4642982, 1.1748601, -2.3902695, -2.581502, 1.1457242, -2.5966687, -2.2243223, -2.6556365, -2.115042, -2.2715776, -2.407608, -2.3964975, -2.577821, -2.1950984, -2.500264, -2.4517298, -2.1316488, -2.601056, -2.2907507, -2.3794894, 1.163503, -2.208047, -2.2262323, 1.1387732, -2.2339413, 1.0986717, -2.0881593, -2.4202037, -2.4656498, -2.5707557, -2.0885751, -2.4430442, -2.491677, -2.0394533, 1.099446, -2.2727456, -2.1733103, -2.2175374, -2.3013563, 1.1454328, -2.150425, -2.5204017, 1.1229374, -2.537715]
Alle Werte in Spalte 'V25' liegen im Min-Max-Bereich.
In Spalte 'V26' gibt es folgende Werte außerhalb des Min-Max-Bereichs (-1.15267106612603, 2.7452606721766): 49
[-1.15585, -1.1709468, -1.178681, -1.1605806, -1.1538551, -1.1691486, -1.1589102, -1.1605068, -1.1609826, -1.1660073, -1.1765506, -1.1722599, -1.163906, -1.1779687, -1.1768945, -1.1665958, -1.1610551, -1.1584709, -1.1624306, -1.1566498, -1.1664623, -1.1619507, -1.1557238, -1.1675334, -1.162878, -1.1591384, -1.1713368, -1.1682847, -1.1576995, -1.1680785, -1.1779989, -1.1761684, -1.1745269, -1.1742222, -1.1618538, -1.162657, -1.1754229, -1.1693306, -1.1724398, -1.1650499, -1.1639614, -1.1689281, -1.1590047, -1.1780146, -1.1767669, -1.1753176, -1.1625506, -1.1763983, -1.15282]
Alle Werte in Spalte 'V27' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'V28' liegen im Min-Max-Bereich.
Alle Werte in Spalte 'Amount' liegen im Min-Max-Bereich.
Amount synthetic data: 36762

In [129]:
SDG = "ctab-gan-plus" 
DATASET = "adult"
target = "income"
minority_class = ">50K"
df_real = pd.read_csv(f"../data/processed/{DATASET}/train_min.csv")
df_syn = pd.read_csv(f"../data/synthetic/{DATASET}/{SDG}.csv")
df_syn = df_syn[df_syn[target] == minority_class]

In [130]:
original_values = set(df_real["education"].unique())
synthetic_values = set(df_syn["education"].unique())

In [131]:
df_syn[df_syn["education"] == "Preschool"]

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
2968,41,Private,90762,Preschool,7,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
4135,60,Private,121081,Preschool,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,>50K
8136,46,Private,356756,Preschool,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,50,United-States,>50K
9613,49,Private,98857,Preschool,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,99075,0,67,United-States,>50K
10128,39,Private,112677,Preschool,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,NaN,>50K
10264,48,Private,91192,Preschool,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,59,United-States,>50K
12404,56,Private,158127,Preschool,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
12522,36,Private,126283,Preschool,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1892,60,United-States,>50K
13859,50,Private,132717,Preschool,4,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
20404,48,Private,187052,Preschool,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,58,United-States,>50K
22388,41,Private,252203,Preschool,4,Married-civ-spouse,Transport-moving,Husband,White,Male,6730,0,61,United-States,>50K
22634,43,Private,444506,Preschool,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
23185,48,Private,158571,Preschool,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1888,59,United-States,>50K
27216,37,Private,324382,Preschool,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
27261,49,Private,395286,Preschool,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,>50K
27753,36,Private,337998,Preschool,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
28900,58,Private,441347,Preschool,4,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
29425,50,Self-emp-inc,166578,Preschool,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,59,United-States,>50K
30221,41,Private,110765,Preschool,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
31189,40,Private,254695,Preschool,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5539,0,50,United-States,>50K

In [124]:
original_values

{'10th',
 '11th',
 '12th',
 '1st-4th',
 '5th-6th',
 '7th-8th',
 '9th',
 'Assoc-acdm',
 'Assoc-voc',
 'Bachelors',
 'Doctorate',
 'HS-grad',
 'Masters',
 'Prof-school',
 'Some-college'}

In [125]:
synthetic_values

{'10th',
 '11th',
 '12th',
 '1st-4th',
 '5th-6th',
 '7th-8th',
 '9th',
 'Assoc-acdm',
 'Assoc-voc',
 'Bachelors',
 'Doctorate',
 'HS-grad',
 'Masters',
 'Preschool',
 'Prof-school',
 'Some-college'}

In [126]:
original_values - synthetic_values

set()

In [127]:
synthetic_values - original_values

{'Preschool'}